a{
  font-size: large;
  font-weight: bold;
}
.margin_bottom_15{
  margin-bottom: 15px;
}
.heading{
  text-align: center;
  color: rgb(1, 1, 16);
}
.question-list {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 10px;
}
.question-list h4{
  margin: 0;
  padding: 0;
}
.question-list a,.question-title {
  font-size: 18px;
  text-decoration: none;
  color: #1c7194;
}